<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon</title>
</head>
<body>
    <h1>Welcome to our Restaurant</h1>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="menu.html">Menu</a></li>
            </ul>
        </nav>
    </header>
    <main>   
        <article>
            <h2>Get 20% Off Today</h2>
            <p>Welcome to our Little Lemon Restaurant to have the 20% off from your bills</p>
        </article>
        <article>
            <form action="" method="post">
                <input type="text" placeholder="Your Name">
                <input required type="tel" placeholder="Your Phone number">
            
                <input  type="submit">
            </form>
            
            <div style="margin-top: 20px;">
                 <video  width="300px" autoplay controls>
                    <source  src="static/video/sample.mp4">
                    No browser support for videos
                 </video>
            </div>
           

        </article>
    </main>
    <footer>
        <p>Copyright Steven Simoni 2025</p>
    </footer>
    
</body>
</html>