<footer style="background-color: #ee9972;">
    <nav>
        <ul>
            <li style="display: inline-block; width: 200px; font-size: 30px;"><a  href="/" style="text-decoration: none;">Home</a></li>
            <li style="display: inline-block; width: 200px; font-size: 30px;"><a  href="/about" style="text-decoration: none;">About</a></li>
            <li style="display: inline-block; width: 200px; font-size: 30px;"><a  href="/menu" style="text-decoration: none;">Menu</a></li>
            <li style="display: inline-block; width: 200px; font-size: 30px;"><a  href="/form" style="text-decoration: none;">Form</a></li>
        </ul>
    </nav>
</footer>